# vim: set filetype=cfg:
##------------------------ smallbaselineApp.cfg ------------------------##
########## computing resource configuration
mintpy.compute.maxMemory = 8 #分配的运算内存[float > 0.0], auto for 4, max memory to allocate in GB
mintpy.compute.cluster   = local #[local / slurm / pbs / lsf / none], auto for none, cluster type
mintpy.compute.numWorker = 90% #[int > 1 / all / num%], auto for 4 (local) or 40 (slurm / pbs / lsf), num of workers


########## 1. load_data
mintpy.load.processor       = hyp3  #指定你的干涉处理平台[isce, aria, hyp3, gmtsar, snap, gamma, roipac, nisar], auto for isce
mintpy.load.updateMode      = yes  #是否每次都是忽略已有的结果，重新生成结果[yes / no], auto for yes, skip re-loading if HDF5 files are complete


##---------interferogram stack:
mintpy.load.unwFile         = /workspace/ASF/gamma_clipped/*/*_unw_phase_clipped.tif  #所有的解缠后相位文件unw[path pattern of unwrapped interferogram files]
mintpy.load.corFile         = /workspace/ASF/gamma_clipped/*/*_corr_clipped.tif  #[path pattern of spatial coherence       files]
##---------geometry用于地理编码的文件:
mintpy.load.demFile         = /workspace/ASF/gamma_clipped/*/*_dem_clipped.tif #[path of DEM file]
mintpy.load.lookupYFile     = auto  #[path of latitude /row   /y coordinate file], not required for geocoded data
mintpy.load.lookupXFile     = auto  #[path of longitude/column/x coordinate file], not required for geocoded data
mintpy.load.incAngleFile    = /workspace/ASF/gamma_clipped/*/*_lv_theta_clipped.tif  #[path of incidence angle file], optional but recommended
mintpy.load.azAngleFile     = /workspace/ASF/gamma_clipped/*/*_lv_phi_clipped.tif  #[path of azimuth   angle file], optional
mintpy.load.waterMaskFile   = /workspace/ASF/gamma_clipped/*/*_water_mask_clipped.tif  #[path of water  mask file], optional but recommended

########## 2. modify_network
mintpy.network.excludeDate     = no  #[20080520,20090817 / no], auto for no

mintpy.network.coherenceBased  = yes  #[yes / no], auto for no, exclude interferograms with coherence < minCoherence
mintpy.network.minCoherence    = 0.4  #[0.0-1.0], auto for 0.7


########## 3. reference_point
## Reference all interferograms to one common point in space
## auto - randomly select a pixel with coherence > minCoherence
## however, manually specify using prior knowledge of the study area is highly recommended
##   with the following guideline (section 4.3 in Yunjun et al., 2019):
## 1) located in a coherence area, to minimize the decorrelation effect.
## 2) not affected by strong atmospheric turbulence, i.e. ionospheric streaks
## 3) close to and with similar elevation as the AOI, to minimize the impact of spatially correlated atmospheric delay
mintpy.reference.yx            = auto   #[257,151 / auto]
mintpy.reference.lalo          = auto   #[31.8,130.8 / auto]
mintpy.reference.maskFile      = auto   #[filename / no], auto for maskConnComp.h5
mintpy.reference.coherenceFile = auto   #[filename], auto for avgSpatialCoh.h5
mintpy.reference.minCoherence  = auto   #[0.0-1.0], auto for 0.85, minimum coherence for auto method


########## 4. correct_unwrap_error (optional)
## supported methods:
## a. phase_closure          - suitable for highly redundant network
## b. bridging               - suitable for regions separated by narrow decorrelated features, e.g. rivers, narrow water bodies
## c. bridging+phase_closure - recommended when there is a small percentage of errors left after bridging
mintpy.unwrapError.method          = no  #选择解缠误差改正方法[bridging / phase_closure / bridging+phase_closure / no], auto for no


########## 5. invert_network
## Temporal coherence is calculated and used to generate the mask as the reliability measure
## reference: Pepe & Lanari (2006, IEEE-TGRS)
mintpy.networkInversion.minTempCoh  = 0.4 #[0.0-1.0], auto for 0.7, min temporal coherence for mask


########## 8. correct_troposphere (optional but recommended)
## a. pyaps - use global atmospheric models (ERA5 / MERRA / NARR) via PyAPS
##    requires CDS API credentials. MintPy auto-downloads and caches ERA5 data.
##    NOTE: adds 5-15 min processing time for data download.
## b. height_correlation - estimate stratified delay from phase-elevation correlation (fast)
## c. gacos - use GACOS, requires manual download from http://www.gacos.net
mintpy.troposphericDelay.method = no  #[pyaps / height_correlation / gacos / no], auto for pyaps
mintpy.troposphericDelay.weatherModel = ERA5  #[ERA5 / MERRA / NARR], auto for ERA5
mintpy.troposphericDelay.weatherDir   = auto  #[path2directory], auto for WEATHER_DIR or "./"
mintpy.troposphericDelay.gacosDir = auto # [path2directory], auto for "./GACOS"


########## 9. deramp (optional)
## Estimate and remove a phase ramp for each acquisition based on the reliable pixels.
## Recommended for localized deformation signals, i.e. volcanic deformation, landslide and land subsidence, etc.
## NOT recommended for long spatial wavelength deformation signals, i.e. co-, post- and inter-seimic deformation.
mintpy.deramp          = quadratic  #[no / linear / quadratic], auto for no - no ramp will be removed
mintpy.deramp.maskFile = auto  #[filename / no], auto for maskTempCoh.h5, mask file for ramp estimation


########## 11.2 reference_date
## Reference all time-series to one date in time
## reference: Yunjun et al. (2019, section 4.9)
## no     - do not change the default reference date (1st date)
mintpy.reference.date = no   #指定参考日期，no为第一个日期[reference_date.txt / 20090214 / no], auto for reference_date.txt


mintpy.plot.dpi       = 300  #[int], auto for 150, number of dots per inch (DPI)
mintpy.plot.maxMemory = 80  #分配给绘图的内存[float], auto for 4, max memory used by one call of view.py for plotting.

